frontend/tw-habbits/node_modules
backend/node_modules
frontend/package-lock.json
backend/package-lock.json
config/Firebase_SDK_Habit_tracking_web.txt
config/secret_habit-tracking-web-firebase-adminsdk.json
backend/.env
